body {
    background-color: darkolivegreen;
    width: 100%;
}

.body-container {
    background: #d2691e;
    
}

#navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    background: greenyellow;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#weight-classes {
    height: 25px;
}

.main-content {
    padding-top: 75px;
    background: crimson;
    height: 100%;
    display: flex;
    justify-content: center;
}

#fighter-pic {
    background: yellow;
    width: 20%;
    height: 100%;
}

#data-container{
    color: white;
    background-color: blueviolet;
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: column;
    overflow-y: hidden;
}

#each-fighter {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    height: 700px;
    margin: 5px;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

#fighter-img {
        background-color: chartreuse;
        width: 250px;
        height: 100%;
}

#fighter-info {
    background-color: burlywood;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

