body {
  width: 100%;
}

#footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid #d20a0a;
}

#footer a {
  text-decoration: none;
  color: #ffffff;
}

#footer a:hover {
  opacity: 0.5;
}

.body-container {
  background: black;
}

#navbar {
  position: fixed;
  width: 100%;
  min-width: 550px;
  height: 70px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#logo h1 {
  font-size: 36px;
  font-weight: bolder;
  font-style: italic;
}

#logo p {
  color: #d20a0a;
  margin: -20px 0 0 60px;
}

#weight-classes {
  height: 25px;
  font-family: "Open Sans Condensed", sans-serif;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.main-content {
  padding: 70px 20px 0 20px;
  min-width: 550px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fighter-pic {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  width: 20%;
  height: 100%;
}

#data-container {
  color: white;
  background-color: #d20a0a;
  width: 90%;
  height: 700px;
  overflow-x: auto;
}

#data-container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-evenly; */
  background-color: darkgray;
  min-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  /* padding: 10px; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-perspective: 4200px;
          perspective: 4200px;
  /* width: fit-content; */
  height: 100%;
}

.each-fighter {
  height: 570px;
  width: 420px;
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  border-radius: 5px;
  font-size: 40px;
  margin: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fighter-front {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

.fighter-back {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  font-weight: bolder;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fighter-back .header-div {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fighter-back h1.nickname {
  font-size: 30px;
  color: #d20a0a;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.fighter-back h1 {
  font-size: 24px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.each-fighter.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.fighter-card__face {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  color: black;
  font-weight: bold;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  cursor: pointer;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#fighter-img {
  background-color: #780110;
  width: 550px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

#fighter-img img {
  height: 98%;
}

#champ-img {
  background-color: gold;
  width: 550px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

#champ-img img {
  height: 98%;
}

#fighter-info {
  color: black;
  font-size: 65px;
  /* width: 50px; */
  height: 100%;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: bolder;
}

#fighter-info h1 {
  font-style: italic;
  margin-top: 15px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

#fighter-info h1.longer-name {
  font-style: italic;
  margin-top: 15px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 50px;
}

.main-div-content {
  background: darkgray;
  height: 100%;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hide-div {
  display: none;
}

.drop-down-loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  width: 250px;
}

.drop-down-loading #loading {
  display: none;
  margin-left: 10px;
}

.drop-down-loading .fas {
  color: #d20a0a;
  margin-left: 5px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

svg {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.bar-chart {
  width: 100%;
  height: 100%;
}

div.tooltip-donut {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding: 0.5rem;
  background: #ffffff;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1rem;
}

.welcome-div {
  background-color: maroon;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.welcome-div .card-info-holder {
  background-color: gray;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px;
  border-radius: 10px;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.welcome-div .demo-card {
  -webkit-transform-style: preserve-3d;
  height: 200px;
  width: 100px;
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  transform-style: preserve-3d;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 40px;
}

.welcome-div .card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.welcome-div .demo-card.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.welcome-div .card__face {
  -webkit-transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.welcome-div .demo-info {
  background-color: maroon;
  height: 200px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.welcome-div i {
  margin-right: 5px;
}

.rest-of-card {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=index.css.map */