$main-red: #d20a0a;

body {
  width: 100%;
}

#footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 3px solid $main-red;
  a {
    text-decoration: none;
    color: #ffffff;
  }
  a:hover {
    opacity: 0.5;
  }
}
.body-container {
  background: black;
  height: 90vh;
  display: flex;
  flex-direction: row;
  min-width: 790px;

}

#navbar {
  position: fixed;
  width: 100%;
  min-width: 550px;
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#logo h1 {
  font-size: 36px;
  font-weight: bolder;
  font-style: italic;
}

#logo p {
  color: $main-red;
  margin: -20px 0 0 60px;
}

#weight-classes {
  height: 25px;
  font-family: "Open Sans Condensed", sans-serif;
  width: 150px;
  text-align: center;
  cursor: pointer;
}


.main-content {
  padding: 70px 0px 0px 0px;
  min-width: 550px;
  width: 100%;
  height: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: blueviolet;
  align-items: center;
  /* align-items: center; */
}

#fighter-pic {
  -webkit-transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
  width: 20%;
  height: 100%;
}

#data-container {
  color: white;
  width: 90%;
  background-color: green;
  height: -webkit-fill-available;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
}

#data-container-inner{
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  min-width: 100%;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  /* padding: 10px; */
  box-sizing: border-box;
  perspective: 4200px;
  background: salmon;
  /* width: fit-content; */
  height: 100%;
}


.each-fighter {
  height: 570px;
  width: 420px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  border-radius: 5px;
  font-size: 40px;
  margin: 10px;
  box-sizing: border-box;

}

.fighter-front {
  -webkit-transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
}
.fighter-back {
  -webkit-transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
font-weight: bolder;
font-style: italic;
display: flex;
flex-direction: column;
transform: rotateY(180deg);
align-items: center;

  .header-div{
    height: 100px;
    display: flex;
    align-items: center;  
    flex-direction: column;
  }
h1.nickname{
    font-size: 30px;
    color: $main-red;
    height: fit-content;
    width: fit-content;
}
h1 {
    font-size: 24px;
    height: fit-content;
    width: fit-content;
  }
}

.each-fighter.is-flipped {
  transform: rotateY(180deg);
}

.fighter-card__face {
  position: absolute;
  background-color:  #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  color: black;
  font-weight: bold;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
}

#fighter-img {
  background-color: rgb(120, 1, 16);
  width: 550px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  border-radius: 10px;

  img {
    height: 98%;
  }
}

#champ-img {
  background-color: gold;
  width: 550px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;

  img {
    height: 98%;
  }
}

#fighter-info {
  color: #232323;
  font-size: 65px;
  width: 15%; 
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
    h1 {
  font-style: italic;
  margin-top: 15px;
  writing-mode: vertical-rl;
}

  h1.longer-name{
    font-style: italic;
  margin-top: 15px;
  writing-mode: vertical-rl;
    font-size: 50px;
  }
}
.main-div-content {
  background: darkgray;
  height: 100%;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hide-div {
  display: none;
}

.drop-down-loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  width: 250px;

  #loading {
    display: none;
    margin-left: 10px;
  }
  .fas {
    color: $main-red;
    margin-left: 5px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

svg {
}

.legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.bar-chart {
  width: 100%;
  height: 100%;
}

div.tooltip-donut {
width: fit-content;
height: fit-content;
text-align: center;
  padding: 0.5rem;
  background: #ffffff;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1rem;
}

.welcome-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;

  p {
    margin-bottom: 10px;
  }
  .card-info-holder {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 15px;
    border-radius: 10px;
    perspective: 600px;
  }
  
  .demo-card {
    -webkit-transform-style: preserve-3d;
    height: 200px;
    width: 100px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 40px;
    margin-right: 10px;
  }

  .card-front {

  }
  .card-back {
    transform: rotateY(180deg);
  }

  .demo-card.is-flipped {
    transform: rotateY(180deg);
  }

  .card__face {
    -webkit-transform-style: preserve-3d;

    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .demo-info {
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    i {
      color: $main-red;
      margin-right: 7px;
    }
  }
}

.rest-of-card {
  height: 100%;
  width: 100%;
}

.freeze {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb::after {
  content: "yo";
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.arrows {
  width: 500px;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
  /* background-color: blue; */
  span {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
  }
}