body {
    width: 100%;
}

#footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 110px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 3px solid maroon;

}
.body-container {
    background: black;
}

#navbar {
    position: fixed;
    width: 100%;
    min-width: 550px;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logo h1 {
    font-size: 36px;
    font-weight: bolder;
    font-style: italic;

}

#logo p {
    color: maroon;
    margin: -20px 0 0 60px;
}

#weight-classes {
    height: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 150px;
    text-align: center;
}

.main-content {
    padding: 75px 20px 0 20px;
    min-width: 550px;

    height: 100%;
    display: flex;
    justify-content: center;
}

#fighter-pic {
    width: 20%;
    height: 100%;
}

#data-container{
    color: white;
    background-color: blueviolet;
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: column;
    overflow-y: hidden;
}



#data-container > div {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    height: 700px;
    margin: 5px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

#fighter-img {
        background-color: maroon;
        width: 550px;
        height: 100%;
}

#champ-img {
    background-color: gold;
    width: 550px;
    height: 100%;
}

#fighter-info {
    font-size: 42px;
    color: black;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

#fighter-info h1 {
    margin-top: 15px;
    font-size: 60px;
    writing-mode: vertical-rl;

}

.flip-div {
display: block;
position: absolute;
background-color: white;
color: black;
height: 97.5%;
width: 99%;
}

.hide-div {
    display: none;
}
