@import './colors.scss';

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 32px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;

    .loader-logo {
        position: absolute;
    }

    h1 {
        font-size: 56px;
        color: $main-red;
        font-style: italic;
    }
    img {
       height: 65vh;
       animation: spin 6s linear infinite;
    }
}