.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 32px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;

    #logo {
        position: absolute;
    }
    img {
       height: 65vh;
       animation: spin 6s linear infinite;
    }
}